[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

grpcio = "==1.10.0"
grpcio-tools = "==1.10.0"


[dev-packages]

bumpversion = "*"
twine = "*"


[requires]

python_version = "3.6"
